{% extends "base.html" %}
{% load static %}
<html>
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/style.css' %}">
    {% endblock head %}
</head>
<body>
{% block content %}
  <h3>Wikis {% if pages %}<small class="text-muted">({{ pages|length }} Page{{ pages|length|pluralize:"s" }})</small>{% endif %}</h3>
  <hr>
  {% if pages %}
    <div class="card-columns">
      {% for page in pages %}
        {% include "partials/card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-primary" role="alert">No pages to display.</div>
  {% endif %}
  <img src="{% static "wiki/computer.gif" %}" alt="Computer gif">
{% endblock %}
</body>




